.dashboardPart {
  width: 100%;
  background-color: var(--cwd1);
  transition: all 0.5s;
  padding: 20px 0;
  min-height: 100vh;
}
.dashboardPart h2 {
  width: 95%;
  margin: auto;
}
.dashboardPartAlign {
  margin-left: auto !important;
  width: 100%;
  transform: translateX(250px);
}

.dash-welcomeBanner {
  background-color: white;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
}
.dash-welcomeBanner a {
  background-color: var(--colorPrincipal);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
}
.dwb-candidate,
.dwb-employer,
.dwb-vip {
}

.choiceUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.choiceUser a {
  background-color: var(--colorPrincipal);
  color: white;
  padding: 10px 15px;
  margin: 10px 0;
}
/*  */

/* Dash stat */
.dash-stats {
  border-radius: 20px;
  width: 90%;
  margin: 20px auto;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
}
.ds-section {
  background-color: white;
  margin: 10px 10px 10px 0;
  color: grey;
  padding: 20px 25px;
  border-radius: 20px;
  position: relative;
}

.ds-section i {
  color: white;
  position: absolute;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 10px;
  text-align: center;
  top: 5px;
  right: 10px;
  font-size: 20px;
  background-image: linear-gradient(310deg, #0f52ba 0%, #fe6e73 100%);
}
/* End dash stat */

/* Fast link */
.dash-fastLinks {
  border-radius: 20px;
  width: 90%;
  margin: 20px auto 0 auto;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
}
.df-section {
  margin: 10px 0;
  width: 32%;
  border-radius: 20px;
  padding: 10px 15px;
  border: solid 1px var(--cwd2);
  transition: all 0.5s;
  cursor: pointer;
  color: grey;
}
.df-section:hover {
  /* background-color: var(--colorPrincipal); */
}
.df-section:hover a {
  background-color: white;
  color: var(--colorPrincipal);
}
.df-section:hover span {
  /* color: white; */
}
.df-section div {
  margin: 10px 0;
}
.df-section img {
  border: solid 2px white;
  margin: -5px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.df-section span {
}
.df-section a {
  background-image: linear-gradient(310deg, #0f52ba 0%, #fe6e73 100%);
  color: white;
  border-radius: 20px;
  padding: 5px 15px;
}
/* Fin */

/* Entreprise liste */
.dash-enterpriseList {
  background-color: white;
  width: 90%;
  margin: 20px auto;
  padding: 20px 10px;
  border-radius: 20px;
}
.dash-enterpriseList h5 {
  width: 95%;
  margin: 20px auto;
}
.dash-enterpriseList ul {
}
.dash-enterpriseList ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px var(--cwd2);
}
.dash-enterpriseList ul li section,
.dash-enterpriseList ul li b {
  width: 25%;
  text-align: center;
}
.dash-enterpriseList ul li b {
  padding: 10px 0;
  color: grey;
}
.dash-enterpriseList ul li section {
  padding: 10px 0;
}
.dash-enterpriseList ul li section img {
  width: 40px;
  height: 40px;
}
.dash-enterpriseList ul li section a {
  color: white;
  background-color: var(--colorPrincipal);
  padding: 5px 15px;
}
/*  */

/* Compte not active */
.accountNotActivated {
  width: 30%;
  position: fixed;
  /* bottom: 10px; */
  bottom: 10px;
  left: 50%;
  margin-left: -15%;
  background-color: var(--errorColor);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.accountNotActivatedModal h3 {
  color: var(--errorColor);
}
.accountNotActivated a {
  color: white;
}
.accountNotActivatedModal {
  text-align: center;
}
.accountNotActivatedModal b {
  color: var(--colorPrincipal);
}
.accountNotActivatedModal img {
  width: 50%;
  max-height: 200px;
  object-fit: contain;
}
.accountNotActivatedModal a {
  background-color: var(--errorColor);
  color: white;
  padding: 5px 15px;
}
/* End */
/* End fast links */
@media screen and (max-width: 512px) {
  .dash-welcomeBanner {
    flex-direction: column;
  }
  .dash-welcomeBanner a {
    display: inline-block;
    margin: 5px auto 10px auto;
  }
  .ds-section b {
    font-size: 12px;
  }
  .ds-section i {
    font-size: 20px;
    top: 2px;
    right: 2px;
    transform: initial;
  }

  .df-section {
    width: 95%;
  }

  .dash-enterpriseList {
    width: 100%;
  }
  .dash-enterpriseList ul li section img {
    height: 30px;
    width: 30px;
  }
  .dash-enterpriseList ul li section p {
    font-size: 12px;
  }
  .dash-enterpriseList ul li section a {
    padding: 3px 6px;
  }
  .accountNotActivated {
    width: 90%;
    margin-left: -45%;
  }
}
