/*  */
.filterResults {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
/* Form */
.addOfferPart {
  /* width: 100%; */
}
.addOfferForm {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  padding: 20px 10px;
  margin: auto;
}
.addOfferForm h1 {
  text-align: center;
  margin: 20px 0;
}
.addOfferForm form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.addOfferForm form > div {
  width: 45%;
  margin-bottom: 20px;
}
.addOfferForm form > .formBtn {
  width: 100%;
  margin: 10px 0;
}
.addOfferForm .formBtn button {
  background-color: var(--colorPrincipal);
  color: white;
}
#formAreaDescription {
  width: 95%;
}
#formAreaDescription textarea {
  max-height: 250px;
  min-height: 100px;
}
.addOfferForm form > div input,
.addOfferForm form > div select,
.addOfferForm form > div textarea {
  background-color: var(--cwd2);
}

/* Liste des offres */
.ppc-title {
  text-align: center;
  padding: 30px 0;
}
.ppc-itemsSlide {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/*  */

/* Pagination */
.itemsPagination {
  background-color: white;
  padding: 10px;
  margin: 30px auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
}
.itemsPagination > a {
  color: var(--colorPrincipal);
  background-color: var(--colorPrincipal);
  color: white;
  padding: 5px 10px;
  border-radius: 40px;
}
.itemsPagination > section {
  min-width: 60%;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
}
.itemsPagination > section a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  background-color: var(--cwd2);
  color: grey;
}
.pageActive {
  background-color: var(--colorPrincipal) !important;
  color: white !important;
}
/*  */

/*  */
.modalDetailProfil {
  width: 250px;
}
.modalDetailProfil input {
  display: none;
}
.modalDetailProfil input:checked + span {
  background-color: var(--colorPrincipal);
  color: white;
}
.mdpBody {
  /* background-color: yellow; */
}
.mdpb-switcher {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  /* background-color: var(--cpd1); */
}
.mdpb-switcher span {
  transition: all 0.5s;
  background-color: var(--cwd2);
  color: grey;
  padding: 4px 8px;
}
.mdpb-imageAndContact {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.mdpb-imageAndContact img {
  width: 40%;
  height: 250px;
  object-fit: contain;
}
.mdpb-imageAndContact div {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.mdpb-imageAndContact a {
  padding: 5px 15px;
  border-radius: 30px;
  text-align: center;
}
.mdpb-imageAndContact h5,
.mdpb-imageAndContact b {
  text-align: center;
}
.mdpb-imageAndContact div > a:first-child {
  background-color: var(--colorPrincipal);
  color: white;
}
.mdpb-result > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mdpb-infosTextList div {
  margin: 10px 0;
  padding: 10px 1%;
  background-color: var(--cwd1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mdpb-infosTextList span {
  color: grey;
  font-weight: bold;
  max-width: 65%;
}
.mdpb-infosTextList b {
  color: var(--colorSecond);
  max-width: 35%;
}
/*  */

/* Offer add modal */
.offerAddedMsg {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offerAddedMsg img {
  max-width: 80%;
  max-height: 200px;
}
.offerAddedMsg a {
  padding: 5px 15px;
  background-color: var(--colorPrincipal);
  color: white;
}
/* Fin */

@media screen and (max-width: 512px) {
  /* Pub banner */
  .go-pubBanner {
    width: 90%;
  }
  .go-pB-item {
    background-position: -880% 90%;
  }
  .go-pB-item h3 {
    font-size: 6vw;
  }
  .go-pB-item p {
    font-size: 4vw;
  }
  /* End */
  .addOfferForm form > div {
    width: 95%;
    margin: 0 auto 10px auto;
  }

  /*  */
  .gol-mobileFilterBtn {
    display: block;
    width: 90%;
    margin: auto;
  }
  .gol-mobileFilterBtn button {
    background-color: var(--cpd5);
    padding: 15px 40px;
    color: white;
  }
  .filterSidebar {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.5s;
  }
  .toggleFilterSidebar {
    max-height: 2000px;
    overflow: initial;
    padding: 10px 0;
  }
  /* End */
  /*  */
  .gol-fAc-cards {
    width: 100%;
  }
  /* ENd */

  /* Liste carte */
  .ppc-itemsSlide {
    width: 100%;
  }
  /* Fin */

  /* Pagination */
  .itemsPagination {
    padding: 5px;
    width: 95%;
  }
  .itemsPagination > a {
  }
  .itemsPagination > section {
    flex-wrap: wrap;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50%;
    /* background-color: hotpink; */
  }
  .itemsPagination > section a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  /*  */
}
